.normalMessage {
    color: green;
    background-color: lightgray;
    border: 3px solid;
    border-radius: 5px;
}

.errorMessage {
    color: red;
    background-color: lightgray;
    border: 3px solid;
    border-radius: 5px;
}
